.l-constrained {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.l-row {
  margin-left: -32px;
}

.l-col4 {
  box-sizing: border-box;

  width: 33%;
  padding-left: 32px;
  float: left;
  text-align: left;
}

.l-col6 {
  box-sizing: border-box;

  width: 50%
  padding-left: 32px;
  float: left;
  text-align: left;
}

.l-alpha {
  margin-left: 0;
}

.l-main {
  width: 700px;
}